<h2>organizatori</h2>

<div class="panel panel-default">
  <div class="panel-body">
    <a href="http://www.rosedu.org">
      <img class="logo" src="/media/rosedu.png">
    </a>
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-body">
    <a href="http://stagiipebune.ro">
      <img class="logo" src="/media/stagiipebune.jpg">
    </a>
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-body">
    <a href="http://cs.pub.ro">
      <img class="logo" src="/media/cs.png">
    </a>
  </div>
</div>

<h2>sponsori</h2>

<div class="panel panel-default">
  <div class="panel-body">
    <a href="http://www.eaudeweb.ro">
      <img class="logo" src="/media/edw.png">
    </a>
  </div>
</div>
