<!doctype html>
<meta charset="utf-8">
<title>{{ page.title }} &middot; {{ site.title }}</title>
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.4/css/bootstrap.css">
<link rel="stylesheet" href="/style.css">

<body>

<nav class="navbar navbar-default">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">{{ site.title }}</a>
    </div>
    <ul class="nav navbar-nav">
      <!-- {{ page.url }} -->
      {% for item in site.pages | sort 'navbar' %}
        {% if item.navbar %}
          <li {% if item.url == page.url %}class="active"{% endif %}>
            <a href="{{ item.url }}">{{ item.title }}</a>
          </li>
        {% endif %}
      {% endfor %}
    </ul>
  </div>
</nav>

<div class="container">
  {{ content }}
</div>
